# macOS
.DS_Store

# JetBrains / Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
**/build/

# Android
local.properties
.cxx/
captures/

# Xcode / iOS
PostureKMPiOS/Pods/
PostureKMPiOS/iosApp.xcworkspace/
**/*.xcworkspace/
**/*.xcuserdatad/
**/*.xcuserstate
DerivedData/

# Kotlin/Native
.konan/

# Logs & misc
*.log
